/* * é para aplicar para todos */
*{
    margin: 2px;
    padding: 3px;
    border: 0;
}

body {
/* background-image: linear-gradient(90deg, #ffffff ); */
background-color: #d2d6e2;
}
/* #FF4D00 -> Laranja */
/* #2148AD -> Azul  */

header{
    background-color: #2148AD;
    /* margin: 7px; */
    display: flex;
    /* Quando coloco display flex, os elementos ficam tudo na mesma linha e não um embaixo do outro */
    flex-direction: column;
    /* Aqui colocamos uma um elemnto embaixo do outro */
    align-items: center;
    /* justify-contente alinhamento dos itens na vertical */
    justify-content: center;
    /* height: 350px; */

}

header img {
    /* Width é tamanho */
    width: 60px 60px 60px 60px;
    /* Border=Bordar depois vaitamanho, o tipo da bordar e cor (  */
    border: 2px solid #fff;
    /* solid é bordar reta, dashed é pontilhado */
    /* Border-Radius ta falando da borda da img */
    border-radius:  00px 00px 00px 00px;
    /* display: flex; */
}

.logo{
    width: 100px
    }

    /* 
    -> Essa função permite que quando passar o mouse por cima da imagem ela aumente o tamanho
    header img:hover{
    width: 50px;

} */

.imagem{
    width: 400px
}


header nav li {
    color: #fff;
    text-transform: uppercase;
    display: inline;
    padding: 25px;
}

header nav {
    padding: 40px;
}

header nav ul a {
    text-decoration: none;
}

/* houver significa: a personalização so vai aparecer quando o cursor so mouse ir emcima do elemento */
header nav ul li:hover {
    background-color: #fff;
    color: #2148AD;
    font-weight: bold;
    transition: 100ms;
    /* transition é quantos segundos de transição de um elemento para outro */
    padding: 10px;
}



.main-conteudo{
    display: flex;
    background-color: #2148AD;
    text-align: justify;
    color: #fff;
    
} 

.main-conteudo img{
    /* padding: 0px 25px; */
    margin: 0px 25px; 
    /* Espaçamento externo */
    border-radius: 0px;
    /* box-shadow: 10px 10px 10px #6476a5;  Sombreamento na foto*/
    border:  2px solid;

main h1 {
    text-align: center;
    padding: 25PX 0px;
    /* text-transform: uppercase; TEXTO EM MAIUSCULA*/
    font-weight: bold;
    color: #fff;
}     

.descritivo {
    padding: 0px 25px 15px 15px;
    text-align: justify;
    font-size: 20px;
}

.meu_nome{
    text-transform:lowercase;
    color: #fff;
}

/* 

1 -> Como deixar o meu nome branco e tudo em maiuscula pelo css

2 -> Como deixar a imagem do tamanho do meu texto


*/